body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pedido-datatable-container {
  display:flex;
  justify-content: center;
}

.pedido-datatable-container .p-inputtext {
  width:50px !important;
}

.pedido-datatable-container .p-inputnumber-button {
  background-color: unset;
  border:none;
}

.pedido-datatable-container .readonly-input {
    pointer-events: none;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.p-inputnumber-buttons-horizontal .p-inputnumber-button {
    pointer-events: auto;
}

tr {
    border-color:var(--Achados-Black-50);

  background-color: white;
}

[data-pc-section="footercell"] {
  background-color: var(--Achados-Lighter-OffWhite);
  border:none;
}

.disabled-button {
  box-shadow: none;
}

.highlight {
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-color: var(--Achados-Highlight-Green);
  text-decoration-thickness: 40%;
  text-underline-offset: -30%;
  text-underline-position: from-font;
}