.profile-picture {
  display: flex;
  width: 175px;
  height: 175px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  border-radius: 100%;
  gap: 10px;
  box-shadow: #849041;
  overflow: 'hidden';
  align-items: center;
}

.icon-image {
  color: #fbf8f3;
}
