.favorito-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh; /* Ajuste a altura conforme necessário */
}

.empty-favorito {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25vh;
  gap: 1rem;
}

.space-carousel-items {
  display: flex;
  height: fit-content;
  padding: 32px;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  align-self: stretch;
  background-color: var(--Achados-OffWhite);
}

.empty-favorito h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--Achados-Black);
}

.empty-favorito p {
  font-size: 1rem;
  color: var(--Achados-Grey);
}

.contanier-fav {
  width: 100%;
  margin: 0 auto;
}

.carrosel-fav {
  width:100%;
  height:fit-content;
}

.favorite-card-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}