:root {
  --light-standard: #f9fafb;

  --Achados-Pink: #f0cdcd;
  --Achados-Red: #d04e3b;
  --Achados-OffWhite: #f5ecdd;
  --Achados-Light-Blue: #90a9ae;
  --Achados-Green: #cfb358;
  --Achados-Black: #2f292a;
  --Achados-Lighter-OffWhite: #fbf8f3;
  --Achados-Highlight-Blue: #90a9ae4d;
  --Achados-Black-50: #2f292a80;
  --Achados-Highlight-Green: #cfb3584d;
  --Achados-Success: #849041;
  --Achados-Brown: #594b46;
  --Achados-White: #ffffff;
  --Achados-Warning: #db9146;
}
