.container-footer,
.initial-footer {
  bottom: 0;
  width: 100%;
  height: 50px;
}

.container-footer {
  background-color: #2F292A;
}

.initial-footer {
  display: flex;
  justify-content: end;
  align-items: center;
  background: transparent;
}

.text-footer {
  color: #cfb358;
  font-family: 'Sao Torpes', sans-serif;
  font-size: 48px;
}

.backgroundDiff {
  background: #F5ECDD;
}