.nav-page {
  width: 100vw;
  /* height: 100vh; */
  background-color: var(--Achados-OffWhite);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}

.nav-center {
  display: flex;
  width: 100%;
  max-width: 99%;
  flex-direction: row;
  gap: 32px;
  flex-shrink: 0;
  padding-top: 32px;
  padding-right: 390px;
  background-color: var(--Achados-OffWhite);
}

.nav-content-column {
  display: flex;
  width: 91%;
  height: 100%;
  flex-direction: column;
  padding: 0px 0px 0px 16px;
  gap: 32px;
  flex-shrink: 0;
}

.nav-filter-display {
  display: flex;
  width: 100%;
  height: 81px;
  padding: 0px 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background: var(--Achados-White);
}

.nav-filter-display-text {
  width: 251px;
  flex-shrink: 0;
  color: var(--Achados-Black);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.nav-filter-display-text-1 {
  color: var(--Achados-Black, #2f292a);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nav-filter-display-order {
  display: flex;
  width: fit-content;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.nav-filter-display-order-text {
  color: var(--Achados-Black);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.nav-pagination-header {
  display: flex;
  height: 37px;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.nav-pagination-header-button {
  display: flex;
  padding: 8px 16px;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  border: 1px solid var(--Achados-Success);
  background: var(--Achados-Success);
}

.nav-pagination-header-button-text {
  color: var(--Achados-Lighter-Offwhite);
  font-variant-numeric: lining-nums tabular-nums;
  font-feature-settings:
    'liga' off,
    'clig' off;

  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normalu;
}

.nav-pagination-header-text {
  color: var(--Achados-Black);
  font-feature-settings:
    'liga' off,
    'clig' off;

  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.nav-content-center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-self: stretch;
}

.nav-pagination-footer {
  padding: 32px;
  justify-content: flex-end;
  align-self: stretch;
  display: flex;
  gap: 10px;
}

.empty-filter {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding-bottom: 200px;
  padding-top: 150px;
  gap: 32px;
}

.empty-filter-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.empty-filter-text {
  color: var(--Achados-Black-50);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  /* font-weight: 500; */
}
