.nav-page {
  width: 100vw;
  height: 100vh;
  background-color: var(--Achados-OffWhite);
}

.nav-center {
  display: flex;
  width: 84%;
  max-width: 90%;
  flex-direction: row;
  gap: 32px;
  flex-shrink: 0;
  padding-top: 32px;
}

.nav-filter-column {
  display: flex;
  width: 300px;
  height: 708px;
  padding: 10px 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: left !important;
  background: var(--Achados-White);
}

.nav-filter-column-header {
  display: flex;
  padding: 12px 6px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.nav-filter-column-header-text {
  width: 99px;
  color: var(--Achados-Black, #2f292a);

  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-color: var(--Achados-Highlight-Green);
  text-decoration-thickness: 40%;
  text-underline-offset: -30%;
  text-underline-position: from-font;
}

.nav-filter-column-header-button {
  display: flex;
  padding: 8px 16px;
  align-items: flex-end;
  gap: 8px;
  border-radius: 16px;
  border: none;
  color: var(--Achados-White);
  font-variant-numeric: lining-nums tabular-nums;
  font-feature-settings:
    'liga' off,
    'clig' off;

  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: var(--Achados-Black) !important;
}

.nav-content-column {
  display: flex;
  width: 90%;
  height: 100%;
  flex-direction: column;
  gap: 32px;
  flex-shrink: 0;
}

.nav-filter-display {
  display: flex;
  width: 100%;
  height: 81px;
  padding: 0px 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background: var(--Achados-White);
}

.nav-filter-display-text {
  width: 251px;
  flex-shrink: 0;
  color: var(--Achados-Black);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.nav-filter-display-text-1 {
  color: var(--Achados-Black, #2f292a);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nav-filter-display-order {
  display: flex;
  width: 90px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.nav-filter-display-order-text {
  color: var(--Achados-Black);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.nav-pagination-header {
  display: flex;
  height: 37px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.nav-pagination-header-text {
  color: var(--Achados-Black);
  font-feature-settings:
    'liga' off,
    'clig' off;

  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.nav-content-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-self: stretch;
}

.nav-pagination-footer {
  display: flex;
  padding: 32px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}
