@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --lighter-offwhite: #fbf8f3;
    --offwhite: #f5ecdd;
    --rounding-medium: 1rem;
    --black:#2F292A;
    --black50:#2F292A80;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background-color: var(--Achados-OffWhite);
    display: flex; 
    flex-direction: column; 
    min-height: 100vh;
}

.container-login {
    display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: var(--Achados-OffWhite);
}


.card-login {
    font-family:'Poppins';
    color:var(--black);
    background-color: var(--lighter-offwhite);
    border-radius: var(--rounding-medium);
    width:35vw;
    padding: 2.5rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:2rem;

    h1 {
        font-size:3rem;
        margin:0;
        margin-bottom:1.5rem;
        text-align: center;
        font-weight: 500;
    }
    
    p {
       font-size:1rem;
       margin:0;
       a {
        font-weight: bold;
        text-decoration: underline;
       }
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
      
    }
    
    .fields {
        width: 100%;
        display:flex;
        flex-direction: column;
        padding: 0 3rem;
        gap: 1rem;
        
    }

    a {
        color:inherit;
    }

      
    .p-inputtext, .p-password, .p-icon-field {
        width:100%;
        font-size:1rem;
        border-radius:3px;
        background-color: var(--lighter-offwhite);
        border-color:var(--black50)
    }

    .p-inputtext:focus, .p-password-input:focus {
        outline: 1px solid var(--offwhite);
        border-color: var(--offwhite);
        box-shadow: var(--black);
    }

    .p-inputtext:hover, .p-password-input:hover {
        border-color: var(--offwhite); 
    }

    .button {
        background-color: var(--black);
        border-color: var(--offwhite);
        width:fit-content;
        align-self:center;
    }
    a {
        color:inherit;
    }
}

