.profile-form-field {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 8px;
}

.address-form-field {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-self: flex-end;
}

.field-input {
  border: 1px var(--Achados-Black) solid;
  border-radius: 4px;
  background-color: transparent;
  height: 36px;
  width: 100%;
  line-height: 20px;
  margin-bottom: 0;
}

.short-input {
  width: 70%;
}

.empty-input-error {
  && {
    border: 1px solid red;
  }
}

.text-area {
  border: 1px var(--Achados-Black) solid;
  border-radius: 4px;
  padding: 8px;
  height: 100px;
  color: var(--Achados-Black);
  background-color: transparent;
  font-family: Poppins;
  font-size: 14px;
}

.field-input {
  font-family: Poppins;
}

.field-label {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding-left: 2px;
  color: var(--Achados-Black);
  font-family: Poppins;
  font-weight: 700;
  font-size: 14px;
}

.label-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.label-icon i {
  line-height: normal;
}

.change-password-button-rose,
.change-password-button {
  display: flex;
  border-color: transparent;
  border-radius: 4px;
  justify-content: space-between;
  background-color: var(--Achados-Black);
  align-items: center;
  color: var(--Achados-OffWhite);
  padding: 8px 12px;
  width: 30%;
  max-width: 150px;
  height: 37px;
  overflow: hidden;
}

.change-password-button-rose {
  background: var(--Achados-OffWhite);
  color: var(--Achados-Black);
}

.change-password-button-rose text {
  color: var(--Achados-Black);
}

.change-password-button-rose:hover,
.change-password-button:hover {
  cursor: pointer;
}

.change-password-button-rose text,
.change-password-button text {

  font-variant-numeric: lining-nums tabular-nums;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.change-password-button-rose div,
.change-password-button div {
  flex-shrink: 0;
}

.error-message {
  color: red;
}

.text-area-user {
  width: 817px;
  height: 89px;
  flex-shrink: 0;
  color: var(--Achados-Black, #2F292A);
  font-feature-settings: 'liga' off, 'clig' off;
  background: var(--Achados-White);

  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}