.p-fileupload .p-fileupload-buttonbar .p-button {
    border: none;
    color: #594B46;
}

.fileupload-demo {
    width: 100%;
}

.buttom-upload-plus:hover {
    background-color: transparent !important;
    color: #594B46;
}

.buttom-upload-plus:focus {
    outline: none !important;
    box-shadow: none !important;
}

.buttom-icon-x {
    border: none;
    color: #594B46;
    background-color: transparent !important;
}

.buttom-icon-x:hover {
    background-color: transparent !important;
    color: #594B46;
}

.buttom-icon-x:focus {
    outline: none !important;
    box-shadow: none !important;
}