.main-register-sebo {
    width: 100vw;
    height: 100vh;
    background-color: #F5ECDD;
}

.card {
    display: grid;
}

.container-register-sebo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.container-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tittle-register {
    color: #2F292A;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: 'Poppins', serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
}

.text-data {
    color: #2F292A;
    font-family: 'Poppins', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container-data {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.text-sales {
    color: #2F292A;
    font-family: 'Poppins', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.step-button {
    margin-top: 15px;
    background-color: #2F292A;
    justify-self: center;
}

.p-inputtext {
    margin: 0;
    width: 400px;
}

.p-checkbox .p-checkbox-box {
    width: 60px;
    height: 25px;
}

.p-checkbox.p-highlight .p-checkbox-box {
    border-color: #2F292A;
    background: #2F292A;
}

.p-checkbox:not(.p-disabled):has(.p-checkbox-input:hover) .p-checkbox-box {
    border-color: #2F292A;
}

.p-steps .p-steps-item .p-menuitem-link {
    background: transparent;
    transition: box-shadow 0.2s;
    border-radius: 6px;
}

.p-steps .p-steps-item.p-highlight .p-steps-number {
    background: #2F292A;
    color: #f9fafb;
}

.p-steps .p-steps-item.p-highlight .p-steps-title {
    font-weight: 700;
    color: #2F292A;
}