.container-product-page {
  width: 100vw;
  height: 100vh;
  background-color: var(--Achados-OffWhite);
}

.product-frame {
  display: flex;
  padding: 32px 64px;
  min-height: 100%;
  height: fit-content;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  background-color: var(--Achados-OffWhite);
}

.product-columns-frame {
  display: flex;
  padding: 64px;
  align-items: flex-start;
  gap: 48px;
  flex: 1 0 0;
  border-radius: 16px;
  background-color: var(--Achados-Lighter-OffWhite);
  flex-wrap: wrap;
  width: 	100%;
  max-width: 1200px;
}

.product-details-frame {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 12px;
  flex: 1 0 0;
  align-self: stretch;
  width: 100%;

  img {
    min-width: 200px;
  }
}

.product-title-frame {
  display: flex;
  width: 198px;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.product-stock {
  color: rgba(0, 0, 0, 0.5);
  font-variant-numeric: lining-nums tabular-nums;
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.product-achados-subh1 {
  color: #000;
  font-feature-settings:
    'liga' off,
    'clig' off;

  font-family: Poppins, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
}

.product-sebo {
  color: #000;
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.product-tags {
  display: flex;
  gap: 10px;
}

.product-actions-frame {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.favorite-button-isFavorite {
  background-color: var(--Achados-Red) !important;
  color: var(--Achados-Pink) !important;
}

.favorite-button-isFavorite:hover {
  background-color: var(--Achados-Red) !important;
  color: var(--Achados-Pink) !important;
}

.favorite-button {
  background-color: var(--Achados-Pink);
  color: var(--Achados-Red);
  border: none;
}

.favorite-button:hover {
  background-color: var(--Achados-Red) !important;
  color: var(--Achados-Pink) !important;
}

.button-cesta {
  background-color: var(--Achados-Success) !important;
  border-color: var(--Achados-Success) !important;
}

.ex-button:hover {
  background-color: var(--Achados-Red) !important;
  color: var(--Achados-OffWhite) !important;
}

.product-ediction-year {
  color: #000;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.product-ediction-year-span {
  color: #000;

  /* Bold / Paragraph */
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}

.product-ediction-year-p {
  color: #000;

  /* Regular / Paragraph */
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.product-ediction-description {
  color: #000;
  font-feature-settings:
    'liga' off,
    'clig' off;

  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  display: block;
  margin-bottom: 10px;
}

.product-ediction-p {
  color: #000;
  font-variant-numeric: lining-nums tabular-nums;
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  align-self: stretch;
  text-align: justify;
}

.profile-form-field-prod {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 8px;
}

.field-input {
  border-radius: 4px;
  background: var(--Achados-White);
  height: 36px;
  width: 100%;
  margin-bottom: 0;
}

.short-input {
  width: 50%;
}

.empty-input-error {
  && {
    border: 1px solid red;
  }
}

.text-area {
  border: 1px var(--Achados-Black) solid;
  border-radius: 4px;
  padding: 8px;
  height: 100px;
  width: 100% !important;
  color: var(--Achados-Black);
  background-color: transparent;
  font-family: Poppins, sans-serif;
  font-size: 14px;
}

.field-input {
  font-family: Poppins, sans-serif;
}

.field-label {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding-left: 2px;
  color: var(--Achados-Black);
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.label-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.label-icon i {
  line-height: normal;
}

.change-password-button-rose,
.change-password-button {
  display: flex;
  border-color: transparent;
  border-radius: 4px;
  justify-content: space-between;
  background-color: var(--Achados-Black);
  align-items: center;
  color: var(--Achados-OffWhite);
  padding: 8px 12px;
  width: 30%;
  max-width: 150px;
  height: 37px;
  overflow: hidden;
}

.change-password-button-rose {
  background: var(--Achados-OffWhite);
  color: var(--Achados-Black);
}

.change-password-button-rose text {
  color: var(--Achados-Black);
}

.change-password-button-rose:hover,
.change-password-button:hover {
  cursor: pointer;
}

.change-password-button-rose text,
.change-password-button text {
  font-variant-numeric: lining-nums tabular-nums;
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.change-password-button-rose div,
.change-password-button div {
  flex-shrink: 0;
}

.error-message {
  color: red !important;
}

.field-input-price {
  display: flex;
  height: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
  border: none;
  border-bottom: 1px solid var(--Achados-Black);
  background: transparent;
}

.field-input-price input {
  height: 36px;
  width: 227px;
  border: none;
  box-shadow: none;
  background-color: transparent !important;
}

.field-input-stock {
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--Achados-Black) !important;
}

.star-form {
  color: red;
}

.empty-input-error .field-input-stock {
  border: 1px solid red !important;
  border-bottom: 1px solid red !important;
}

.input-name-product{
  width: 100% !important;
}

.field-input-stock input {
  width: 151px;
  height: 36px;
  border: none;
  box-shadow: none;
  background-color: transparent !important;
}

.field-input-stock button {
  background: transparent !important;
  border: none;
}

.field-input-stock button svg {
  color: var(--Achados-Black);
}

.field-input-year input {
  height: 36px;
  width: 227px;
  border-color: var(--Achados-Black);
  box-shadow: none;
  border-radius: 5px;
}


.field-input-genero {
  width: 14.5rem !important;
  align-items: center;
  color: var(--Achados-Black) !important;
}

.field-input-category {
  width: 14.5rem !important;
  align-items: center;
}

.taxt-area-short {
  background: var(--Achados-White);
}

.achados-h4 {
  color: var(--Achados-Black);
  font-family: Poppins, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
}

@media screen and (max-width: 750px) {
  .product-frame {
    padding: 8px;
  }
}
